* {
	margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #4b4c4f;
  font-family: 'Lato', sans-serif;
  color: #ef9904;
  text-align: center;
}

.one .row {
  width: 100%;
  min-height: 367px;
  font-size: 5em;
  margin-top: 4em;
  border-bottom: 1px solid yellow;
}

.two .row {
  min-height: 100vh;
}
