* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #4b4c4f;
  font-family: 'Lato', sans-serif;
  color: #ef9904;
  text-align: center;
}

.one .row {
  width: 100%;
  min-height: 367px;
  font-size: 5em;
  margin-top: 4em;
  border-bottom: 1px solid yellow;
}

.two .row {
  min-height: 100vh;
}

.eat {
  margin-top: 18em;  
}
#categorias {
  width: 60%;
}
.vzla {
  margin-top: 5em;
}

.breakfast img {
  min-width: 100%;
}


.vzla1 {
  margin-top: 3em;
}

.dinner img {
  min-width: 100%;
  max-height: 18em;
}

.chile{
  margin-top: 2em;
}

.breakfast1 img{
 min-width: 100%;
 max-height: 18em;
}

.chile2 {
  margin-top: 2em;
}
.dinner1 img{
 min-width: 100%;
 max-height: 12em;
}

.peru {
  margin-top: 2em;
}

.dinner2 img{
min-width: 100%;
max-height: 11em;
}

.peru2 {
  margin-top: 2em;
}

.breakfast3 img{
min-width: 100%;
max-height: 13em;
}
}

